stackformer/modules/mask.py
stackformer/modules/tokenizer.py

stackformer/datasets/

How to update pipy.txt

stackformer/__pycache__/
stackformer/modules/__pycache__/
stackformer/models/__pycache__/
stackformer/vision_models/__pycache__/