# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Package / Build
build/
dist/
*.egg-info/
.eggs/

# Virtual Environments
venv/
env/
.venv/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# other secret file
How to update pipy.txt

# Project-specific
# Ignore compiled cache in all submodules
stackformer/**/__pycache__/

# datasets
stackformer/datasets/

# tokenizer
stackformer/modules/tokenizer.py